### Exercise 2 - Create a markdown cell with the title of the notebook.

# Data Science Tools and Ecosystem

### Exercise 3 - Create a markdown cell for an introduction.

## Introduction

This notebook provides an overview of the Data Science Tools and Ecosystem. It includes information about programming languages, libraries, and tools used in data science, along with some examples of arithmetic operations in Python.

### Exercise 4 - Create a markdown cell to list data science languages.

## Data Science Languages

Some popular programming languages used in data science include:

- Python
- R
- SQL
- Julia
- Scala

### Exercise 5 - Create a markdown cell to list data science libraries.

## Data Science Libraries

Some commonly used libraries for data science are:

- NumPy
- Pandas
- Matplotlib
- Scikit-learn
- TensorFlow
- Keras
- PyTorch

### Exercise 6 - Create a markdown cell with a table of Data Science tools.

## Data Science Tools

| Tool | Description |
|------|------------|
| Jupyter Notebook | Interactive computing environment |
| RStudio | Integrated Development Environment for R |
| Apache Spark | Cluster computing system |
| TensorFlow | Machine learning framework |
| Tableau | Data visualization tool |

### Exercise 7 - Create a markdown cell introducing arithmetic expression examples.

## Arithmetic Expressions Examples

Below are examples of arithmetic expressions in Python.

In [4]:
### Exercise 8 - Create a code cell to multiply and add numbers.
# Multiplication and Addition
result = (5 * 3) + 2
print("The result of (5 * 3) + 2 is:", result)

The result of (5 * 3) + 2 is: 17

In [5]:
### Exercise 9 - Create a code cell to convert minutes to hours.
# Convert minutes to hours
minutes = 150
hours = minutes / 60
print(minutes, "minutes is equal to", hours, "hours")

150 minutes is equal to 2.5 hours

### Exercise 10 - Insert a markdown cell to list Objectives.

## Objectives

- List popular languages for Data Science
- Identify commonly used libraries in Data Science
- Demonstrate arithmetic expressions in Python
- Convert minutes to hours using Python code
- Share the notebook publicly on GitHub

### Exercise 11 - Create a markdown cell to indicate the Authorâ€™s name.

## Author

**My Name is Asif Hussain**